
@media (max-width: 575.98px) { 
.welcomevideo {
    width:250px;
    height:200px;
    border: 10px solid white;
    }
.tablet-abs{
    width: 200px;
    position:absolute;
    bottom:-25%;
    left:25%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    border-radius: 10%;
}
.tablet {
    width: 300px;
}

.testim {
    margin: auto;
    background-color: #fff;
    border-radius: 6px;
    width: 85%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.testim2 {
    margin:auto;
    background-color: #fff;
    border-radius: 6px;
    width: 85%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.sect-8{
    min-height: 600px;
}


}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .welcomevideo {
        width:500px;
        height:250px;
        border: 10px solid white;
        }

   .tablet-abs{
    width: 300px;
    position:absolute;
    top:15%;
    left:25%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    border-radius: 10%;
}
.tablet {
    width: 300px;
}

.testim {
    margin: auto;
    background-color: #fff;
    border-radius: 6px;
    width: 70%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.testim2 {
    margin-left: 25%;
    background-color: #fff;
    border-radius: 6px;
    width: 70%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
.sect-8{
    min-height: 600px;
}

}

@media (min-width: 768px) and (max-width: 991.98px) { 

    .welcomevideo {
        width:500px;
        height:250px;
        border: 10px solid white;
        }

 .tablet-abs{
    width: 300px;
    position:absolute;
    top:20%;
    left:20%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    border-radius: 10%;
}
.tablet {
    width: 300px;
}
.testim {
    margin: auto;
    background-color: #fff;
    border-radius: 6px;
    width: 70%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.testim2 {
    margin-left: 25%;
    background-color: #fff;
    border-radius: 6px;
    width: 70%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
}

@media (min-width: 992px) and (max-width: 1199.98px) { 

    .welcomevideo {
        width:500px;
        height:250px;
        border: 10px solid white;
        }

   .tablet-abs{
    width: 300px;
    position:absolute;
    top:20%;
    left:25%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    border-radius: 10%;
}
.tablet {
    width: 300px;
}

.testim {
    margin: auto;
    background-color: #fff;
    border-radius: 6px;
    width: 70%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.testim2 {
    margin-left: 25%;
    background-color: #fff;
    border-radius: 6px;
    width: 70%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
}

@media (min-width: 1200px) { 
    
    .welcomevideo {
        width:500px;
        height:250px;
        border: 10px solid white;
        }

	.content{
		padding-left: 100px;
		padding-right: 100px;
	}
	
	.sect-2{
		padding-top: 100px;
		padding-bottom: 50px;
	}

    .tablet-abs{
        width: 300px;
        position:absolute;
        top:20%;
        left:25%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
        border-radius: 10%;
    }
    .tablet {
        width: 300px;
    }

    .testim {
        margin: auto;
        background-color: #fff;
        border-radius: 6px;
        width: 70%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    }

    .testim2 {
        margin-left: 25%;
        background-color: #fff;
        border-radius: 6px;
        width: 70%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    }
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'NunitoSansRegular'!important;
}

.gradient-button {
    height: 50px;
    padding-top: 11px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 6px;
    background-image: -webkit-linear-gradient(315deg, #ff8e64, #ffe641);
    background-image: linear-gradient(135deg, #ff8e64, #ffe641);
    box-shadow: 0 6px 12px 0 rgba(40, 43, 49, .08);
    -webkit-transition: box-shadow 200ms ease;
    transition: box-shadow 200ms ease;
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
}

.button {
    height: 50px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 6px 12px 0 rgba(40, 43, 49, .08);
    -webkit-transition: box-shadow 200ms ease;
    transition: box-shadow 200ms ease;
    color: #282b31;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
}

.w-button {
    display: inline-block;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none!important;
    cursor: pointer;
}

.btn-f{
    width: 100%;
    background-image: linear-gradient(135deg, #009fc5, #3cecb0);
}

.sect-4:hover{
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    background-color: #fff;
    border-radius: 6px;
}

.btn-play:hover{
	cursor: pointer;
}
.btn-play{
    height: 60px;
    width: 60px;
}

.bg {
    background-image:url('../img/Backgroundred2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.bg-v {
    background-image:url('../img/Image1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.div-box{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    background-color: #fff;
    border-radius: 6px;
}
.bg-grey{
    background-color: #f8fafc;
}
.bg-tr{
    background-color: transparent!important;
}
.lbl-pr{
    background: rgba(0,0,0,.09);
}
.pr-box{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
.w-50p{
    width: 50px;
}
.w-25p{
    width: 25px;
}
.h-400p{
    height: 400px;
}
.h-75p{
    height: 75px;
}
.lh{
    line-height: 1.6;
}
.revs{
    position: absolute;
    bottom: 150px;
}
.t3{
    height: 400px;
    overflow: hidden;
}
.mt-70p{
    margin-top: 70px;
}
.br-10{
    border-radius: 10%;
}
.space{
    width: 6%
}
.h-auto{
    height: auto;
}
.b-r{
    border-radius: 40px;
}



.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/load/Preloader_2.gif) center no-repeat #fff;
}
.head{
    background-color: crimson;
    text-align: center;
    color:white;
    padding:15px;
    

}
.head h1{
    margin-bottom:0px;
    font-family: cursive;
    font-style: italic;
    font-size: 34px;
    font-weight: 300;
    
}
.h1heading{
    font-family: Roboto,sans-serif;
}